<?xml version="1.0"?>
<config>
    <modules>
        <Ophirah_Crmaddon>
            <version>0.1.2</version>
        </Ophirah_Crmaddon>
    </modules>
    <global>
        <models>
            <crmaddon>
                <class>Ophirah_Crmaddon_Model</class>
                <resourceModel>crmaddon_Mysql4</resourceModel>
            </crmaddon>
            <crmaddon_Mysql4>
                <class>Ophirah_Crmaddon_Model_Mysql4</class>
                <entities>
                    <crmaddonmessages>
                        <table>quoteadv_crmaddon_messages</table>
                    </crmaddonmessages>
                    <crmaddontemplates>
                        <table>quoteadv_crmaddon_templates</table>
                    </crmaddontemplates>
                </entities>
            </crmaddon_Mysql4>
        </models>
        <resources>
            <crmaddon_setup>
                <setup>
                    <module>Ophirah_Crmaddon</module>
                    <class>Ophirah_Crmaddon_Model_Mysql4_Setup</class>                    
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crmaddon_setup>
            <crmaddon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crmaddon_write>
            <crmaddon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crmaddon_read>
        </resources>
        <blocks>
            <crmaddon>
                <class>Ophirah_Crmaddon_Block</class>
            </crmaddon>
            <qquoteadv>
                <rewrite>
                    <adminhtml_qquoteadv_edit>Ophirah_Crmaddon_Block_Adminhtml_Crmaddon_Edit</adminhtml_qquoteadv_edit>
                    <adminhtml_qquoteadv_edit_tabs>Ophirah_Crmaddon_Block_Adminhtml_Crmaddon_Edit_Tabs</adminhtml_qquoteadv_edit_tabs>
                </rewrite>
            </qquoteadv>         
        </blocks>
        <helpers>
            <crmaddon>
                <class>Ophirah_Crmaddon_Helper</class>
            </crmaddon>
        </helpers>        
        <template>
            <email>
                <crmaddon_emails_crmaddon_container translate="label" module="crmaddon">
                    <label>CRM addon Email container</label>
                    <file>crmaddon/crmaddon_container.html</file>
                    <type>html</type>
                </crmaddon_emails_crmaddon_container>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <crmaddon before="Mage_Adminhtml">Ophirah_Crmaddon_Adminhtml</crmaddon>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <crmaddon>
                    <file>crmaddon.xml</file>
                </crmaddon>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ophirah_Crmaddon>
                    <files>
                        <default>Ophirah_Crmaddon.csv</default>
                    </files>
                </Ophirah_Crmaddon>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <crmaddon>
            <general translate="default_description" module="crmaddon">
                <enabled>1</enabled>
            </general>
            <emails>
                <crmaddon_shortmsg>75</crmaddon_shortmsg>
            </emails>        
        </crmaddon>
    </default>
</config>
