ul.configurator-categories{
	list-style-type:none !important;
	display:inline;
	padding:0;
	margin:5px 0px;
	width:100%;
}
ul.configurator-categories  > li{
	display:inline;
	margin-right:5px;
	padding-bottom:3px;
	width:100%;
}
ul.configurator-categories  > li > select{
	margin-top:5px;
	/*margin-left:10%;
	margin-right:10%;*/
	min-width:100px;
	max-width:300px;
	border:1px solid #000;
}
.toner-button-submit {
	margin-left:auto;
	margin-right:auto;
	padding:2px 6px;
}
.toner-configurator {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	max-width:600px;
	padding: 9px 19px;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: 0 1px 2px rgba(0,0,0,.05);
	text-align:left;
}
.toner-configurator div {
	display:inline;
}
.loadingmask {
	position:absolute;
	z-index:200;
	text-align:center;
	top:0;
	left:30px;
	right:30px;
	vertical-align:middle;
	padding: 4px;
	background-color: #e8e8e8;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: 0 1px 2px rgba(0,0,0,.05);
	font-weight:bold;
	font-size:12px;
	padding-bottom:12px;
}
.spinner {
	position:relative;
	top:12px;
	width:0px;
	margin-left:auto;
	margin-right:auto;
	bottom:15px;
}
.loadingmask span {
	position:relative;
	top:10px;
	margin-bottom:15px;
}
.toner-configurator > .block-title {
	margin-top:2px;
	margin-right:5px;
}
.col-main .toner-configurator > .block-title {
	font-size:14px;
}
.configurator-dropdowns-div, .toner-button-submit {
	margin:0px auto;
	text-align:center;
}
.toner-button-submit:disabled {
	display:none;
	visibility:hidden;
}