<!--@subject {{var ct_subject}} {{var hashtag}} @-->
<p><FONT COLOR="#FFFFFF">{{var responsetag}}</FONT></p>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
                  <tr>
                    <td width="50%"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    <td width="50%">
                    &nbsp;</td>
                  </tr>
                </table>
                </td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-weight:normal; line-height:22px; margin-left:0; margin-right:0; margin-top:0; margin-bottom:11px">
                    <font size="3">Hello,</font></h1>
                    <p style="font-weight:normal; line-height:22px; margin-left:0; margin-right:0; margin-top:0; margin-bottom:11px">
                    Thank you for contacting Choice Stationery Supplies.</p>
                    <p style="font-weight:normal; line-height:22px; margin-left:0; margin-right:0; margin-top:0; margin-bottom:11px">
                    We're pleased to inform you that we have replied to your 
                    ticket &quot;{{var hashtag}}&quot;.</p>
                    <p>You can either reply to this message by email or log into 
                    your
                    <a href="http://www.choiceshttp:/www.choicestationery.com/CrmTicket/Front_Ticket/MyTickets/tationery.com/CrmTicket/Front_Ticket/MyTickets/">
                    customer account</a> to update the message and view the 
                    message history.</p>
                                                      
                            <p><b>Messages history : </b></p>
                            <p>{{var messages}}</p>
                            
                            <p>Thank you for using the new Choice Stationery 
                            Supplies customer support system.</p>
                            
                            <p>If we can be of any further assistance please do 
                            not hesitate to reply to this ticket and a member of 
                            my team will be happy to help you further.</p>
                            
                            <p>Regards</p>
                            
                            <p>
                            <img border="0" src="http://www.choicestationery.com/media/signature.jpg" width="175" height="43"><b><br>
                            Paul Andrews</b><br>
                            Managing Director<br>
                            Choice Stationery Supplies Limited<br>
                            <br>
                            <a href="http://www.choicestationery.com/">
                            www.choicestationery.com</a></p>
                            
            </tr>
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center>
                <p style="margin: 0" align="left"><b><font size="1">Choice 
                Stationery Supplies Limited - Lea House, Frobisher Way, Taunton, 
                Somerset, TA2 6BB</font></b></p>
                <p style="margin: 0" align="left"><font size="1">Choice 
                Stationery Supplies is registered in England and Wales Number 
                4122307. </font></p>
                <p style="margin: 0" align="left"><font size="1">Registered 
                Office: Ground Floor, Blackbrook Gate 1, Blackbrook Business 
                Park, Taunton, TA1 2PX. </font></p>
                <p style="margin: 0" align="left"><font size="1">Registered For 
                VAT Number 841 132 269 </font></p>
                </center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
<p><FONT COLOR="#FFFFFF">{{var hashtag}}</FONT></p>