<!--@subject New ticket @-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
                  <tr>
                    <td width="50%">
                    <a href="../{{store%20url="}}">
                    <img src="../{{var%20logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    <td width="50%">
                    &nbsp;</td>
                  </tr>
                </table>
                        </td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">

                            <p>Hello,</p>

                            <p>A ticket has been opened or updated with your 
                            name on it!</p>
                            <p>Customer email : {{var email}}</p>
                            <p>Ticket subject : {{var ct_subject}}</p>
                            <p>Ticket url : <a href="{{var url}}">{{var url}}</a></p>
                            
                            <p>
                                {{var messages}}
                            </p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>