<?xml version="1.0"?>
<config>
    <modules>
        <Ewall_Autocrosssell>
            <version>1.4.0</version>
        </Ewall_Autocrosssell>
    </modules>
    <global>
        <blocks>
            <autocrosssell>
                <class>Ewall_Autocrosssell_Block</class>
            </autocrosssell>
        </blocks>
        <models>
            <autocrosssell>
                <class>Ewall_Autocrosssell_Model</class>
                <resourceModel>autocrosssell_mysql4</resourceModel>
            </autocrosssell>
            <autocrosssell_mysql4>
                <class>Ewall_Autocrosssell_Model_Mysql4</class>
                <entities>
                    <autocrosssell>
                        <table>autocrosssell</table>
                    </autocrosssell>
                </entities>
            </autocrosssell_mysql4>
        </models>
        <helpers>
            <autocrosssell>
                <class>Ewall_Autocrosssell_Helper</class>
            </autocrosssell>
        </helpers>
        <events>
            <controller_action_layout_render_before_checkout_cart_index>
                <observers>
                    <autocrosssell>
                        <class>autocrosssell/observer</class>
                        <method>replaceCrossselsBlock</method>
                    </autocrosssell>
                </observers>
            </controller_action_layout_render_before_checkout_cart_index>
            <sales_order_save_after>
                <observers>
                    <autocrosssell_observer>
                        <type>singleton</type>
                        <class>autocrosssell/observer</class>
                        <method>updateRelatedproductsOrderStatus</method>
                    </autocrosssell_observer>
                </observers>
            </sales_order_save_after>
        </events>
        <resources>
            <autocrosssell_setup>
                <setup>
                    <module>Ewall_Autocrosssell</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </autocrosssell_setup>
            <autocrosssell_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </autocrosssell_write>
            <autocrosssell_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </autocrosssell_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <autocrosssell>
                <use>standard</use>
                <args>
                    <module>Ewall_Autocrosssell</module>
                    <frontName>autocrosssell</frontName>
                </args>
            </autocrosssell>
        </routers>
        <translate>
            <modules>
                <Ewall_Autocrosssell>
                    <files>
                        <default>Ewall_Autocrosssell.csv</default>
                    </files>
                </Ewall_Autocrosssell>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <autocrosssell>
                                            <title>ewall - cross sell products</title>
                                        </autocrosssell>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <translate>
            <modules>
                <Ewall_Autocrosssell>
                    <files>
                        <default>Ewall_Autocrosssell.csv</default>
                    </files>
                </Ewall_Autocrosssell>
            </modules>
        </translate>
    </admin>
    <default>
        <autocrosssell>
            <general>
                <products_to_display>3</products_to_display>
                <process_orders>complete</process_orders>
            </general>
            <checkout_block>
                <enabled>0</enabled>
            </checkout_block>
        </autocrosssell>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Ewall_Autocrosssell/>
            </modules>
        </suite>
    </phpunit>
</config>
