<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_Aitcbp>
            <version>1.2.8</version>
            <platform>community</platform>
        </Aitoc_Aitcbp>
    </modules>

    <frontend>
         <translate>
            <modules>
                <Aitoc_Aitcbp>
                    <files>
                        <default>Aitoc_Aitcbp.csv</default>
                    </files>
                </Aitoc_Aitcbp>
            </modules>
        </translate>
        <events> 
            <prepare_catalog_product_collection_prices>
                <observers>
                    <aitcbp>
                        <type>singleton</type>
                        <class>aitcbp/observer</class>
                        <method>updateProductCollectionPrice</method>
                    </aitcbp>
                </observers>
            </prepare_catalog_product_collection_prices>
        </events>    
    </frontend>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aitoc_aitcbp after="Mage_Adminhtml">Aitoc_Aitcbp_Adminhtml</aitoc_aitcbp>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
         <translate>
            <modules>
                <Aitoc_Aitcbp>
                    <files>
                        <default>Aitoc_Aitcbp.csv</default>
                    </files>
                </Aitoc_Aitcbp>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitcbp>
                    <file>aitcbp.xml</file>
                </aitcbp>
            </updates>
        </layout>
    </adminhtml> 
   
    <global>
        <models>
            <aitcbp>
                <class>Aitoc_Aitcbp_Model</class>
                <resourceModel>aitcbp_mysql4</resourceModel>
            </aitcbp>            
            
            <aitcbp_mysql4>
                <class>Aitoc_Aitcbp_Model_Mysql4</class>
                <entities>
                    <group>
                        <table>aitoc_aitcbp_groups</table>
                    </group>
                    <rule>
                        <table>aitoc_aitcbp_rules</table>
                    </rule>
                    <product_price_index>
                        <table>aitoc_aitcbp_product_price_index</table>
                    </product_price_index>
                </entities>
            </aitcbp_mysql4>
            <catalogrule_mysql4>
                <rewrite>
                    <rule>Aitoc_Aitcbp_Model_Mysql4_Rewrite_Rule</rule>
                </rewrite>
            </catalogrule_mysql4>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_indexer_price>Aitoc_Aitcbp_Model_Mysql4_Rewrite_Product_Indexer_Price</product_indexer_price>
                    <product_indexer_price_default>Aitoc_Aitcbp_Model_Mysql4_Rewrite_Product_Indexer_Price_Default</product_indexer_price_default>                    
                    <product_indexer_price_configurable>Aitoc_Aitcbp_Model_Mysql4_Rewrite_Product_Indexer_Price_Configurable</product_indexer_price_configurable>                    
                </rewrite>    
            </catalog_resource_eav_mysql4>
            <!--index>
                <rewrite>
                    <process>Aitoc_Aitcbp_Model_Process</process>
                </rewrite>    
            </index-->
            <catalog>
                <rewrite>
                    <product_indexer_price>Aitoc_Aitcbp_Model_Product_Indexer_Price</product_indexer_price>
                </rewrite>    
            </catalog>
            <bundle_mysql4>
                <rewrite>
                    <indexer_price>Aitoc_Aitcbp_Model_Mysql4_Rewrite_Bundle_Indexer_Price</indexer_price>
                </rewrite>
            </bundle_mysql4>
            <downloadable_mysql4>
                <rewrite>
                    <indexer_price>Aitoc_Aitcbp_Model_Mysql4_Rewrite_Downloadable_Indexer_Price</indexer_price>
                </rewrite>
            </downloadable_mysql4>
        </models>
        
        <blocks>
            <aitcbp>
                <class>Aitoc_Aitcbp_Block</class>
            </aitcbp>
        </blocks>
        
        <!-- <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_price>Aitoc_Aitcbp_Block_Rewrite_AdminhtmlCatalogProductEditTabPrice</catalog_product_edit_tab_price>
                </rewrite>
            </adminhtml>
        </blocks> -->
        
        <resources>
            <aitcbp_setup>
                <setup><module>Aitoc_Aitcbp</module><class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class></setup>
                <connection><use>core_setup</use></connection>
            </aitcbp_setup>
            <aitcbp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitcbp_write>
            <aitcbp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitcbp_read>
        </resources>
        
        <helpers>
            <aitcbp>
                <class>Aitoc_Aitcbp_Helper</class>
            </aitcbp>
        </helpers>
        
        <events>
            <!-- <aitsys_generate_module_list_after>
                <observers>
                    <aitcbp>
                        <type>singleton</type>
                        <class>aitcbp/observer</class>
                        <method>installModule</method>
                    </aitcbp>
                </observers>
            </aitsys_generate_module_list_after> -->
<!--            <aitoc_module_save_data_before>
                <observers>
                    <aitcbp>
                        <type>singleton</type>
                        <class>aitcbp/observer</class>
                        <method>installModule</method>
                    </aitcbp>
                </observers>
            </aitoc_module_save_data_before>   -->
            <aitoc_module_save_data_after>  
                <observers>
                    <aitcbp>
                        <type>singleton</type>
                        <class>Aitoc_Aitcbp_Model_Observer</class>
                        <method>uninstallModule</method>
                    </aitcbp>
                </observers>
            </aitoc_module_save_data_after>  
            <catalog_product_load_after>
                <observers>
                    <aitcbp>
                        <type>singleton</type>
                        <class>aitcbp/observer</class>
                        <method>updateProductPrice</method>
                    </aitcbp>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <aitcbp>
                        <type>singleton</type>
                        <class>aitcbp/observer</class>
                        <method>updateProductCollectionPrice</method>
                    </aitcbp>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_product_save_after>
                <observers>
                    <aitcbpstock>
                        <type>singleton</type>
                        <class>aitcbp/observer</class>
                        <method>reindexStockStatus</method>
                    </aitcbpstock>
                    <aitcbp>
                        <type>singleton</type>
                        <class>aitcbp/observer</class>
                        <method>reindexProductPrice</method>
                    </aitcbp>
                </observers>    
            </catalog_product_save_after>
            <sales_order_save_after>
                <observers>
                    <aitcbp>
                        <type>singleton</type>
                        <class>aitcbp/observer</class>
                        <method>salesOrderAfterSave</method>
                    </aitcbp>
                </observers>
            </sales_order_save_after>
        </events>
        
    </global>
    
    <aitsys>
        <events>
            <aitoc_module_save_data_after>
                  <observers>
                    <aitcbp>
                        <type>singleton</type>
                        <class>aitcbp/observer</class>
                        <method>installModule</method>
                    </aitcbp>
                </observers>
            </aitoc_module_save_data_after>
        </events>
    </aitsys>
    
    <default>
        <catalog>
            <aitcbp>
                <enabled>1</enabled>
                <percent>0</percent>
                <fixed>0</fixed>
            </aitcbp>  
        </catalog>
    </default> 
</config>