.svn
.project
.idea
.vagrant
.bundle
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
nbproject/
_notes
dwsync.xml
# Komodo
*.komodoproject
.komodotools
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.vi
*~
*.sass-cache
*.zip
*.sql
*.sql.gz
*.tar.gz
*.tgz
Thumbs.db

/vendor

/.htpasswds
/app/etc/local.xml
/includes/src/*
/media
/pkginfo/
/var/
/var/cache/*
/var/log/*
/var/locks/*
/var/report/*
/var/session/*
/downloader
/dev
/auto-deploy
/sitemap.xml
/dev.choicestationery.com/*
/dev.choicestationery.com
/choicestationery
/choicestationery.pub
sass-cache

/.htaccess
.DS_Store
/robots.txt

!/app/.htaccess
!/downloader/.htaccess
!/downloader/template/.htaccess
!/errors/.htaccess
!/includes/.htaccess
!/lib/.htaccess
!/media/.htaccess
!/media/customer/.htaccess
!/media/downloadable/.htaccess
!/pkginfo/.htaccess
!/var/.htaccess
!/var/package/

cgi-bin
.ftpquota
error_log
.htpasswd
/install.php
php.ini.sample
RELEASE_NOTES.txt
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
git-log.txt
index.php
index.php.sample
.htaccess.sample
LICENSE_EE.html
LICENSE_EE.txt

adminer.php
/.pki
/cgi-bin
/gs/
/pdf/
/pma/
/securimage/
/sitemap/
/tmp/
/.htaccess_bkp
.htaccess-org
/devrobots.txt
/googleb65f20ae74ab1e5a.html
/index.php.sample
/inf.php
/info.php
/install.phpold
/Magestore_Pdfinvoice-license.txt
/mirasvit_adminer-4.2.3.php
/reindex.php
/wp/wp-content/uploads
/README.md
