<?xml version="1.0"?>
<config>
    <modules>
        <NC_LoginAsCustomer>
            <version>0.1.0</version>
        </NC_LoginAsCustomer>
    </modules>
    <global>
        <models>
            <NC_LoginAsCustomer>
                <class>NC_LoginAsCustomer_Model</class>
            </NC_LoginAsCustomer>
        </models>
        <blocks>
            <NC_LoginAsCustomer>
                <class>NC_LoginAsCustomer_Block</class>
            </NC_LoginAsCustomer>
        </blocks>
        <helpers>
            <NC_LoginAsCustomer>
                <class>NC_LoginAsCustomer_Helper</class>
            </NC_LoginAsCustomer>
        </helpers>
    </global>

    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <NC_LoginAsCustomer_injectLoginAsCustomerButton>
                        <class>NC_LoginAsCustomer/observer</class>
                        <method>injectLoginAsCustomerButton</method>
                    </NC_LoginAsCustomer_injectLoginAsCustomerButton>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <translate>
            <modules>
                <NC_LoginAsCustomer>
                    <files>
                        <default>NC_LoginAsCustomer.csv</default>
                    </files>
                </NC_LoginAsCustomer>
            </modules>
        </translate>

    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <NC_LoginAsCustomer before="Mage_Adminhtml">NC_LoginAsCustomer_Adminhtml</NC_LoginAsCustomer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <NC_LoginAsCustomer>
                <use>standard</use>
                <args>
                    <module>NC_LoginAsCustomer</module>
                    <frontName>NC_LoginAsCustomer</frontName>
                </args>
            </NC_LoginAsCustomer>
        </routers>
    </frontend>
    <default>
        <NC_LoginAsCustomer>
            <settings>
                <active><![CDATA[0]]></active>
            </settings>
        </NC_LoginAsCustomer>
    </default>
</config>