<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2008-2012 Amasty (http://www.amasty.com)
* @package Amasty_Meta
*/
-->
<config>
    <sections>
        <ammeta translate="label" module="ammeta">
            <label>SEO Meta Tags Templates</label>
            <tab>amasty</tab>
            <frontend_type>text</frontend_type>
            <sort_order>190513</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <max_meta_title translate="label">
                            <label>Max Tittle Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_meta_title>
                        <max_meta_description translate="label">
                            <label>Max Description Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_meta_description>

                    </fields>
                </general>
                <product translate="label">
                    <label>Product Page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <force translate="label">
                            <label>Replace Filled Metadata</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </force>
                        <no_breadcrumbs translate="label comment">
                            <label>No Breadcrumbs</label>
                            <comment>Please set to `Yes` if you have no Breadcrumbs on the Product View page.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </no_breadcrumbs>
                        <product_short_description_on_category_page translate="label comment">
                            <label>Replace Product Short Descriptions on Category Page</label>
                            <comment>Please set to `No` if you have no Short Descriptions for products on the Category page.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_short_description_on_category_page>
                        <url_template translate="label comment">
                            <label>Product URL Key Template</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
You can use variables in this template<br>
Example: {name} - {sku}
]]></comment>
                        </url_template>
                        <apply_template>
                            <label/>
                            <frontend_model>ammeta/adminhtml_system_button</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apply_template>
                    </fields>
                </product>
                <cat translate="label">
                    <label>Category Page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <force translate="label">
                            <label>Replace Filled Metadata</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </force>
                    </fields>
                </cat>
            </groups>
        </ammeta>
        <!-- This section is also included in seo google sitemap module. Please modify in both modules if needed. -->
        <amseotoolkit translate="label" module="amseotoolkit">
            <groups>
                <hreflang translate="label">
                    <label>Hreflang URLs</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <scope translate="label comment">
                            <label>Hreflang URLs Scope</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amseotoolkit/source_scope</source_model>
                            <comment><![CDATA[Choose <b>Website</b> to work within one website only or <b>Global</b> to work between the websites]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </scope>
                        <enabled_for translate="label comment">
                            <label>Enabled for</label>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>amseotoolkit/source_enabledFor</source_model>
                            <comment>for Meta Tags Templates</comment>
                        </enabled_for>
                        <language translate="label">
                            <label>Language Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amseotoolkit/source_language</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </language>
                        <country translate="label">
                            <label>Country Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amseotoolkit/source_country</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country>
                        <x_default translate="label comment">
                            <label>X-default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amseotoolkit/source_xdefault</source_model>
                            <comment><![CDATA[If <b>Hreflang Scope</b> is <b>Global</b>, values from website scope for this setting will be ignored]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </x_default>
                        <cms_relation translate="label comment">
                            <label>Multi-Stores CMS Pages Relation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amseotoolkit/source_CmsRelation</source_model>
                            <comment>Choose the way how to identify the same CMS page for different views. By Hreflang UUID option is to be specified for each CMS page manually</comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cms_relation>
                        <preview translate="comment">
                            <label></label>
                            <frontend_type>label</frontend_type>
                            <comment><![CDATA[<a href="#" onclick="showHreflangPreview(); return false;" style="font-size:15px;">Preview</a>]]></comment>
                            <frontend_model>amseotoolkit/adminhtml_form_field_preview</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </preview>
                    </fields>
                </hreflang>
            </groups>
        </amseotoolkit>
    </sections>
</config>
