<?xml version="1.0"?>
<config>
    <modules>
        <Mxm_AllInOne>
            <version>0.1.0</version>
        </Mxm_AllInOne>
    </modules>
    <global>
        <blocks>
            <mxmallinone>
                <class>Mxm_AllInOne_Block</class>
            </mxmallinone>
            <newsletter>
                <rewrite>
                    <subscribe>Mxm_AllInOne_Block_Newsletter_Subscribe</subscribe>
                </rewrite>
            </newsletter>
            <adminhtml>
                <rewrite>
                    <system_email_template_edit>Mxm_AllInOne_Block_System_Email_Template_Edit</system_email_template_edit>
                    <system_email_template_edit_form>Mxm_AllInOne_Block_System_Email_Template_Edit_Form</system_email_template_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <mxmallinone>
                <class>Mxm_AllInOne_Model</class>
                <resourceModel>mxmallinone_resource</resourceModel>
            </mxmallinone>
            <mxmallinone_resource>
                <class>Mxm_AllInOne_Model_Resource</class>
            </mxmallinone_resource>
            <core>
                <rewrite>
                    <email_template>Mxm_AllInOne_Model_Transactional_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <helpers>
            <mxmallinone>
                <class>Mxm_AllInOne_Helper</class>
            </mxmallinone>
        </helpers>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <mxmallinone_onepage_success_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>onepageSuccess</method>
                    </mxmallinone_onepage_success_observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_quote_save_after>
                <observers>
                    <mxmallinone_quote_save_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>quoteSave</method>
                    </mxmallinone_quote_save_observer>
                </observers>
            </sales_quote_save_after>
            <newsletter_subscriber_save_before>
                <observers>
                    <mxmallinone_subscriber_save_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>subscriberSave</method>
                    </mxmallinone_subscriber_save_observer>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_delete_after>
                <observers>
                    <mxmallinone_subscriber_delete_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>subscriberDelete</method>
                    </mxmallinone_subscriber_delete_observer>
                </observers>
            </newsletter_subscriber_delete_after>
            <salesrule_rule_save_before>
                <observers>
                    <mxmallinone_salesrule_save_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>salesruleSave</method>
                    </mxmallinone_salesrule_save_observer>
                </observers>
            </salesrule_rule_save_before>
            <store_save_before>
                <observers>
                    <mxmallinone_store_save_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>storeSave</method>
                    </mxmallinone_store_save_observer>
                </observers>
            </store_save_before>
            <admin_system_config_changed_section_design>
                <observers>
                    <mxmallinone_store_design_change_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>storeConfigChange</method>
                    </mxmallinone_store_design_change_observer>
                </observers>
            </admin_system_config_changed_section_design>
            <admin_system_config_changed_section_trans_email>
                <observers>
                    <mxmallinone_store_trans_email_change_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>storeConfigChange</method>
                    </mxmallinone_store_trans_email_change_observer>
                </observers>
            </admin_system_config_changed_section_trans_email>
            <admin_system_config_changed_section_general>
                <observers>
                    <mxmallinone_store_general_change_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>storeConfigChange</method>
                    </mxmallinone_store_general_change_observer>
                </observers>
            </admin_system_config_changed_section_general>
            <catalog_product_save_after>
                <observers>
                    <mxmallinone_product_save_observer>
                        <type>singleton</type>
                        <class>Mxm_AllInOne_Model_Observer</class>
                        <method>productSave</method>
                    </mxmallinone_product_save_observer>
                </observers>
            </catalog_product_save_after>
        </events>
        <resources>
            <mxmallinone_setup>
                <setup>
                    <module>Mxm_AllInOne</module>
                    <class>Mxm_AllInOne_Model_Resource_Setup</class>
                </setup>
            </mxmallinone_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <mxmallinone_cron>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mxmallinone/cron::run</model>
                </run>
            </mxmallinone_cron>
        </jobs>
    </crontab>
    <frontend>
        <layout>
            <updates>
                <mxmallinone>
                    <file>mxmallinone.xml</file>
                </mxmallinone>
            </updates>
        </layout>
        <routers>
            <mxmallinone>
                <use>standard</use>
                <args>
                    <module>Mxm_AllInOne</module>
                    <frontName>mxmallinone</frontName>
                </args>
            </mxmallinone>
            <newsletter>
                <args>
                    <modules>
                        <Mxm_AllInOne_Newsletter before="Mage_Newsletter">Mxm_AllInOne_Newsletter</Mxm_AllInOne_Newsletter>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <translate>
            <modules>
                <Mxm_AllInOne>
                    <files>
                        <default>Mxm_AllInOne.csv</default>
                    </files>
                </Mxm_AllInOne>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <mxmallinone>
                <use>admin</use>
                <args>
                    <modules>
                        <mxmallinone before="Mage_Adminhtml">Mxm_AllInOne_Adminhtml</mxmallinone>
                    </modules>
                    <module>Mxm_AllInOne_Adminhtml</module>
                    <frontName>mxmallinone</frontName>
                </args>
            </mxmallinone>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mxmallinone>
                    <file>mxmallinone.xml</file>
                </mxmallinone>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mxm_AllInOne>
                    <files>
                        <default>Mxm_AllInOne.csv</default>
                    </files>
                </Mxm_AllInOne>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mxm_allinone_api>
            <api>
                <server_url>maxemail.emailcenteruk.com</server_url>
            </api>
        </mxm_allinone_api>
        <mxm_allinone_transactional>
            <transactional>
                <auth_type>crammd5</auth_type>
                <ssl_type>tls</ssl_type>
            </transactional>
        </mxm_allinone_transactional>
        <mxm_allinone_sync>
            <product>
                <!-- 5 mins !-->
                <interval>300</interval>
            </product>
            <subscriber>
                <!-- 5 mins !-->
                <interval>300</interval>
            </subscriber>
            <promotion>
                <!-- 12 hours !-->
                <interval>43200</interval>
            </promotion>
            <store>
                <!-- 12 hours !-->
                <interval>43200</interval>
            </store>
            <category>
                <!-- 12 hours !-->
                <interval>43200</interval>
            </category>
            <categoryproduct>
                <!-- 12 hours !-->
                <interval>43200</interval>
            </categoryproduct>
            <productsales>
                <!-- 24 hours !-->
                <interval>86400</interval>
            </productsales>
        </mxm_allinone_sync>
    </default>
    <mxmallinone>
        <whitelabel>
            <name>Maxemail</name>
        </whitelabel>
    </mxmallinone>
</config>

