<?xml version="1.0"?>
<config>
	<modules>
        <Toybanana_ExtImages>
            <version>3.6.2</version>
        </Toybanana_ExtImages>
    </modules>
	<global>
	    <helpers>
            <ExtImages>
                <class>Toybanana_ExtImages_Helper</class>
            </ExtImages>
        </helpers>
		<resources>
            <extimages_setup>
                <setup>
                    <module>Toybanana_ExtImages</module>
					<class>Toybanana_ExtImages_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extimages_setup>
            <extimages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extimages_write>
            <extimages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extimages_read>
        </resources>
        <events>
        	<eav_collection_abstract_load_before>
        		<observers>
            		<Toybanana_ExtImages_Model_Observer>
                		<class>Toybanana_ExtImages_Model_Observer</class>
                		<method>updateEavAttributes</method>
           			</Toybanana_ExtImages_Model_Observer>
        		</observers>
    		</eav_collection_abstract_load_before>
			<catalog_category_load_after>
        		<observers>
            		<Toybanana_ExtImages_Model_Observer>
                		<class>Toybanana_ExtImages_Model_Observer</class>
                		<method>updateCategoryImageUrls</method>
           			</Toybanana_ExtImages_Model_Observer>
        		</observers>
    		</catalog_category_load_after>
        	<catalog_product_load_after>
        		<observers>
            		<Toybanana_ExtImages_Model_Observer>
                		<class>Toybanana_ExtImages_Model_Observer</class>
                		<method>updateProductImageUrls</method>
           			</Toybanana_ExtImages_Model_Observer>
        		</observers>
    		</catalog_product_load_after>
    		<catalog_product_collection_load_after>
        		<observers>
            		<Toybanana_ExtImages_Model_Observer>
                		<class>Toybanana_ExtImages_Model_Observer</class>
                		<method>updateProductImageUrlsInCollection</method>
           			</Toybanana_ExtImages_Model_Observer>
        		</observers>
    		</catalog_product_collection_load_after>
    		<catalog_product_save_before>
        		<observers>
            		<Toybanana_ExtImages_Model_Observer>
                		<class>Toybanana_ExtImages_Model_Observer</class>
                		<method>updateGalleryImages</method>
           			</Toybanana_ExtImages_Model_Observer>
        		</observers>
    		</catalog_product_save_before>
    	</events>
    </global>
	<default>
        <ExtImages>
            <general>
            	<version>3.6.2</version>
                <enabled>1</enabled>
				<usegallery>1</usegallery>
            </general>
			<curl>
				<curlconntimeout>2</curlconntimeout>
				<curltimeout>30</curltimeout>
				<curlmaxredir>5</curlmaxredir>
            </curl>
        </ExtImages>
    </default>
</config>