<!--@subject Ticket update notification @-->
<p><FONT COLOR="#FFFFFF">{{var responsetag}}</FONT></p>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">

                            <p>Bonjour,</p>

                            <p>Un nouveau message a &eacute;t&eacute; postc concernant le ticket "{{var ct_subject}}" :</p>
                                                        
                            <p><b>Historique des messages : </b></p>
                            <p>{{var messages}}</p>
                            <p>Vous pouvez aussi r&eacute;pondre et visualiser l'historique des messages dans votre <a href="{{var url}}">compte client</a></p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<p><FONT COLOR="#FFFFFF">{{var hashtag}}</FONT></p>