<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWPSorting>
			<version>1.1.6</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewpsorting/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWPSorting>
	</modules>
	<admin>
        <routers>
			<extendware_ewpsorting>
				<use>admin</use>
				<args>
					<module>Extendware_EWPSorting</module>
					<frontName>extendware_ewpsorting</frontName>
				</args>
			</extendware_ewpsorting>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWPSorting>
					<files>
						<default>extendware/Extendware_EWPSorting.csv</default>
					</files>
				</Extendware_EWPSorting>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpsorting>
					<file>extendware/ewpsorting.xml</file>
				</ewpsorting>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWPSorting>
					<files>
						<default>extendware/Extendware_EWPSorting.csv</default>
					</files>
				</Extendware_EWPSorting>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpsorting>
					<file>extendware/ewpsorting.xml</file>
				</ewpsorting>
			</updates>
		</layout>
		<routers>
			<ewpsorting>
				<use>standard</use>
				<args>
					<module>Extendware_EWPSorting</module>
					<frontName>ewpsorting</frontName>
				</args>
			</ewpsorting>
        </routers>
    </frontend>
	<global>
		<models>
			<ewpsorting>
				<class>Extendware_EWPSorting_Model</class>
				<resourceModel>ewpsorting_mysql4</resourceModel>
			</ewpsorting>
			<ewpsorting_mysql4>
                <class>Extendware_EWPSorting_Model_Mysql4</class>
                <entities>
                    <bestseller_index>
                        <table>ewpsorting_bestseller_index</table>
                    </bestseller_index>
                    <revenue_index>
                        <table>ewpsorting_revenue_index</table>
                    </revenue_index>
                    <rpm_index>
                        <table>ewpsorting_rpm_index</table>
                    </rpm_index>
                    <opm_index>
                        <table>ewpsorting_opm_index</table>
                    </opm_index>
                    <viewed_index>
                        <table>ewpsorting_viewed_index</table>
                    </viewed_index>
                    <wished_index>
                        <table>ewpsorting_wished_index</table>
                    </wished_index>
                    <saving_amount_index>
                        <table>ewpsorting_saving_amount_index</table>
                    </saving_amount_index>
                    <saving_percent_index>
                        <table>ewpsorting_saving_percent_index</table>
                    </saving_percent_index>
                </entities>
            </ewpsorting_mysql4>
		</models>
		<blocks>
			<ewpsorting>
                <class>Extendware_EWPSorting_Block</class>
            </ewpsorting>
		</blocks>
		<helpers>
			<ewpsorting>
				<class>Extendware_EWPSorting_Helper</class>
			</ewpsorting>
		</helpers>
		<resources>
			<ewpsorting_setup>
				<setup>
					<module>Extendware_EWPSorting</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewpsorting_setup>
			<ewpsorting_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewpsorting_write>
            <ewpsorting_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewpsorting_read>
		</resources>
		<events></events>
		<template></template>
		<index>
			<indexer>
				<ewpsorting_indexes>
					<model>ewpsorting/indexer</model>
				</ewpsorting_indexes>
			</indexer>
		</index>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewpsorting>
			<general>
				<out_of_stock_status>1</out_of_stock_status>
				<use_tier_price_status>0</use_tier_price_status>
				<out_of_stock_mode>is_saleable</out_of_stock_mode>
				<disabled_sort_methods></disabled_sort_methods>
				<disabled_indexes>saving_amount,saving_percent</disabled_indexes>
				<check_index_status>1</check_index_status>
				<sort_method_listing_order></sort_method_listing_order>
				<reverse_sort_orders>a:13:{s:18:"_1372451125778_778";a:1:{s:2:"id";s:8:"creation";}s:18:"_1372451134187_187";a:1:{s:2:"id";s:7:"instock";}s:18:"_1372451141624_624";a:1:{s:2:"id";s:13:"saving_amount";}s:18:"_1372451143153_153";a:1:{s:2:"id";s:14:"saving_percent";}s:18:"_1372451148523_523";a:1:{s:2:"id";s:7:"ordered";}s:18:"_1372451157271_271";a:1:{s:2:"id";s:5:"stock";}s:18:"_1372451166234_234";a:1:{s:2:"id";s:6:"rating";}s:18:"_1372451173506_506";a:1:{s:2:"id";s:12:"review_count";}s:18:"_1372451184274_274";a:1:{s:2:"id";s:3:"opm";}s:18:"_1372451191469_469";a:1:{s:2:"id";s:6:"wished";}s:18:"_1372451196953_953";a:1:{s:2:"id";s:3:"rpm";}s:18:"_1372451198797_797";a:1:{s:2:"id";s:7:"revenue";}s:18:"_1376522249864_864";a:1:{s:2:"id";s:6:"viewed";}}</reverse_sort_orders>
			</general>
		</ewpsorting>
		<ewpsorting_advanced>
			<general>
				<config_rules><![CDATA[<rules>
	<rating>
		<postsort>review_count:desc,ordered:desc</postsort>
	</rating>
	<stock><presort/></stock>
	<instock><presort/><postsort/></instock>
</rules>]]></config_rules>
				<default_presort>a:1:{s:18:"_1372459334132_132";a:2:{s:4:"code";s:7:"instock";s:3:"dir";s:4:"desc";}}</default_presort>
				<default_postsort>a:1:{s:18:"_1372459334939_939";a:2:{s:4:"code";s:7:"ordered";s:3:"dir";s:4:"desc";}}</default_postsort>
			</general>
			<period>
				<ordered>0</ordered>
				<viewed>0</viewed>
				<rpm>0</rpm>
				<revenue>0</revenue>
			</period>
		</ewpsorting_advanced>
	</default>
	<extendware>
		<override>
           	<block>
           		<mage_catalog_product_list_toolbar_ewpsorting_override>
           			<mode>extendware</mode>
					<search><class>Mage_Catalog_Block_Product_List_Toolbar</class></search>
					<replace>
						<class>Extendware_EWPSorting_Block_Override_Mage_Catalog_Product_List_Toolbar</class>
						<order>100</order>
					</replace>
				</mage_catalog_product_list_toolbar_ewpsorting_override>
           	</block>
           	<model>
           		<mage_catalog_config_ewpsorting_override>
           			<mode>extendware</mode>
					<search><class>Mage_Catalog_Model_Config</class></search>
					<replace>
						<class>Extendware_EWPSorting_Model_Override_Mage_Catalog_Config</class>
						<order>100</order>
					</replace>
				</mage_catalog_config_ewpsorting_override>
           	</model>
		</override>
	</extendware>
</config>
