.message-admin
{
    background-color: #FADBD9;
}

.message-customer
{
    background-color: #CCFFCC;
}

.message-fax
{
    background-color: #FCE8D7;
}

.message-phone
{
    background-color: #F6F6F6;
}

