<!--@subject Referral program confirmation @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
                  <tr>
                    <td width="50%" align="left" valign="bottom">
                    <p align="left"><a href="{{store url=""}}">
                    <img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0" align="left"/></a></td>
                    <td width="50%">
                    &nbsp;</td>
                  </tr>
                </table>
                </td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <p style="font-weight:normal; line-height:22px; margin-left:0; margin-right:0; margin-top:0; margin-bottom:11px">
						<font size="3">Dear {{var referral.rewardpoints_referral_name}},</font></p>
                    <p style="font-weight:normal; line-height:22px; margin-left:0; margin-right:0; margin-top:0; margin-bottom:11px">
						<font size="3">Good news!</font></p>
                    <p style="font-weight:normal; line-height:22px; margin-left:0; margin-right:0; margin-top:0; margin-bottom:11px">
						<font size="3">Your friend {{var child.name}} ({{var 
                        child.email}}) has just ordered with Choice Stationery 
                        Supplies.</font></p>
                    <p style="font-weight:700; line-height:22px; margin-left:0; margin-right:0; margin-top:0; margin-bottom:11px">
						<font size="3">We've credited your account with the 
                        relevant reward points.</font></p>
                    <p style="font-weight:normal; line-height:22px; margin-left:0; margin-right:0; margin-top:0; margin-bottom:11px">
						<font size="3">Thanks for your referral and spreading 
                        the word about Choice Stationery Supplies.</font></p>
                    <p style="line-height:22px; margin-left:0; margin-right:0; margin-top:0; margin-bottom:11px">
						<font size="3">Earn even more reward points by referring 
                        even more friends and family today at
                        <a href="http://www.choicestationery.com">
                        www.choicestationery.com</a> </font></p>
                    <p style="line-height:16px; margin:0">&nbsp;</p>
                    <p style="line-height:16px; margin:0"><font size="3">Regards,</font></p>
                    <p style="line-height:16px; margin:0">&nbsp;</p>
                    <p style="line-height:16px; margin:0">
                    <font size="3">
                    <img border="0" src="http://www.choicestationery.com/media/signature.jpg" width="150" height="37"></font></p>
                    <p style="line-height:16px; margin:0"><font size="3">Paul Andrews</font></p>
                    <p style="line-height:16px; margin:0"><font size="3">Managing Director</font></p>
            </tr>
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                <p style="margin: 0" align="left"><b><font size="1">Choice 
                Stationery Supplies Limited - Lea House, Frobisher Way, Taunton, 
                Somerset, TA2 6BB</font></b></p>
                <p style="margin: 0" align="left"><font size="1">Choice 
                Stationery Supplies is registered in England and Wales Number 
                4122307. </font></p>
                <p style="margin: 0" align="left"><font size="1">Registered 
                Office: Ground Floor, Blackbrook Gate 1, Blackbrook Business 
                Park, Taunton, TA1 2PX. </font></p>
                <p style="margin: 0" align="left"><font size="1">Registered For 
                VAT Number 841 132 269 </font></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>






<style type="text/css">
body, td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>Your friend {{var child.name}} ({{var child.email}}) has ordered on {{var store_name}}!</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>