<?xml version="1.0"?>
<config>
    <modules>
        <Wyomind_Watchlogpro>
            <version>1.1.1</version>
        </Wyomind_Watchlogpro>
    </modules>
    <default>
        <watchlogpro>
            <license>
                <version>1.1.1</version>
            </license>
            <settingspro>
                <use_whitelist_only>0</use_whitelist_only>
                <block_duration>20</block_duration>
                <attempts>10</attempts>
                <blocked_message>Unauthorized Ip!</blocked_message>
                <report>1</report>
                <report_title>Watchlog has blocked one new IP!</report_title>
            </settingspro>
        </watchlogpro>
    </default>
     
    <frontend>
        <routers>
            <watchlogpro>
                <use>standard</use>
                <args>
                    <module>Wyomind_Watchlogpro</module>
                    <frontName>watchlog</frontName>
                </args>
            </watchlogpro>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wyomind_Watchlogpro after="Mage_Adminhtml">Wyomind_Watchlogpro_Adminhtml</Wyomind_Watchlogpro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
     
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
                
        </resources>
        <layout>
            <updates>
                <watchlogpro>
                    <file>watchlogpro.xml</file>
                </watchlogpro>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <wyomind_watchlogpro_grid_column>
                        <type>model</type>
                        <class>Wyomind_Watchlogpro_Model_Observer</class>
                        <method>addColumns</method> 
                    </wyomind_watchlogpro_grid_column>
                </observers>
            </adminhtml_block_html_before>
            <controller_action_predispatch>
                <observers>
                    <wyomind_watchlogpro_predispatch>
                        <type>model</type>
                        <class>Wyomind_Watchlogpro_Model_Observer</class>
                        <method>checkIP</method> 
                    </wyomind_watchlogpro_predispatch>
                </observers>
            </controller_action_predispatch>
        </events> 
        <template>
            <email>
                <watchlogpro_report module="watchlogpro">
                    <label>watchlogpro_report</label>
                    <file>watchlogpro_report.html</file>
                    <type>html</type>
                </watchlogpro_report>
            </email>
        </template>
        <helpers>
            <watchlogpro>
                <class>Wyomind_Watchlogpro_Helper</class>
            </watchlogpro>
            <watchlog>
                <rewrite>
                     <data>Wyomind_Watchlogpro_Helper_Data</data>
                </rewrite>
            </watchlog>
        </helpers>
        <blocks>
            <watchlogpro>
                <class>Wyomind_Watchlogpro_Block</class>
            </watchlogpro>
        </blocks>
        <models>
            <watchlogpro>
                <class>Wyomind_Watchlogpro_Model</class>
                <resourceModel>watchlogpro_mysql4</resourceModel>
            </watchlogpro>
            <watchlogpro_mysql4>
                <class>Wyomind_Watchlogpro_Model_Mysql4</class>
                <entities>
                </entities>
            </watchlogpro_mysql4>
            <watchlog>
                <rewrite>
                    <observer>Wyomind_Watchlogpro_Model_Observer</observer>
                </rewrite>
                <rewrite>
                    <watchlog>Wyomind_Watchlogpro_Model_Watchlog</watchlog>
                </rewrite>
            </watchlog>
        </models>
        <resources>
            <watchlogpro_setup>
                <setup>
                    <module>Wyomind_Watchlogpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </watchlogpro_setup>
            <watchlogpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </watchlogpro_write>
            <watchlogpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </watchlogpro_read>
        </resources>
    </global>
</config> 


