<?xml version="1.0"?>
<config>
    <modules>
        <Potato_Compressor>
            <version>1.3.0</version>
            <platform>ce</platform>
        </Potato_Compressor>
    </modules>
    <global>
        <helpers>
            <po_compressor>
                <class>Potato_Compressor_Helper</class>
            </po_compressor>
        </helpers>
        <blocks>
            <po_compressor>
                <class>Potato_Compressor_Block</class>
            </po_compressor>
            <page>
                <rewrite>
                    <html_head>Potato_Compressor_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <models>
            <po_compressor>
                <class>Potato_Compressor_Model</class>
                <resourceModel>po_compressor_resource</resourceModel>
            </po_compressor>
            <po_compressor_resource>
                <class>Potato_Compressor_Model_Resource</class>
                <entities>
                    <image>
                        <table>po_compressor_image</table>
                    </image>
                </entities>
            </po_compressor_resource>
        </models>
        <resources>
            <po_compressor_setup>
                <setup>
                    <module>Potato_Compressor</module>
                </setup>
            </po_compressor_setup>
            <po_compressor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </po_compressor_write>
            <po_compressor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </po_compressor_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <po_compressor>
                    <file>po_compressor.xml</file>
                </po_compressor>
            </updates>
        </layout>
        <translate>
            <modules>
                <Potato_Compressor>
                    <files>
                        <default>Potato_Compressor.csv</default>
                    </files>
                </Potato_Compressor>
            </modules>
        </translate>
        <events>
            <clean_media_cache_after>
                <observers>
                    <po_compressor>
                        <type>singleton</type>
                        <class>po_compressor/observer</class>
                        <method>refreshCache</method>
                    </po_compressor>
                </observers>
            </clean_media_cache_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <potato_compressor before="Mage_Adminhtml">Potato_Compressor_Adminhtml</potato_compressor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <enterprise_pagecache>
                        <class>po_compressor/observer</class>
                        <method>deferJs</method>
                    </enterprise_pagecache>
                    <po_compressor_minify_html>
                        <class>po_compressor/observer</class>
                        <method>minifyHTML</method>
                    </po_compressor_minify_html>
                    <po_compressor_replace_image_url>
                        <class>po_compressor/observer</class>
                        <method>replaceImageUrl</method>
                    </po_compressor_replace_image_url>
                </observers>
            </controller_front_send_response_before>
        </events>
        <layout>
            <updates>
                <po_compressor module="Potato_Compressor">
                    <file>po_compressor.xml</file>
                </po_compressor>
            </updates>
        </layout>
    </frontend>
    <default>
        <po_compressor>
            <general>
                <enabled>0</enabled>
                <minify_html>0</minify_html>
                <readme>http://potatocommerce.com/compressor.html#readme</readme>
            </general>
            <js_settings>
                <merge_js>0</merge_js>
                <compression>0</compression>
                <gzip>0</gzip>
                <defer>2</defer>
            </js_settings>
            <css_settings>
                <merge_css>0</merge_css>
                <compression>0</compression>
                <gzip>0</gzip>
                <inline>0</inline>
            </css_settings>
            <advanced>
                <image_resize>0</image_resize>
                <image_backup>1</image_backup>
                <image_cron_enabled>1</image_cron_enabled>
                <skip_images></skip_images>
            </advanced>
        </po_compressor>
    </default>
    <crontab>
        <jobs>
            <po_compressor_image_optimization>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>po_compressor/compressor_cron::process</model>
                </run>
            </po_compressor_image_optimization>
        </jobs>
    </crontab>
</config>