<config>
    <modules>
        <CommerceExtensions_Categoriesimportexport>
            <version>0.2.0</version>
        </CommerceExtensions_Categoriesimportexport>
    </modules>   
    <global>
        <blocks>
            <categoriesimportexport>
                <class>CommerceExtensions_Categoriesimportexport_Block</class>
            </categoriesimportexport>
            <adminhtml>
                <rewrite>
                    <system_convert_profile_grid>CommerceExtensions_Categoriesimportexport_Block_Adminhtml_System_Convert_Profile_Grid</system_convert_profile_grid>
                    <system_convert_gui_grid>CommerceExtensions_Categoriesimportexport_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <categoriesimportexport>
                <class>CommerceExtensions_Categoriesimportexport_Model</class>
            </categoriesimportexport>
        </models>
        <helpers>
            <categoriesimportexport>
                <class>CommerceExtensions_Categoriesimportexport_Helper</class>
            </categoriesimportexport>
        </helpers>
        <resources>
            <categoriesimportexport_setup>
                <setup>
                    <module>CommerceExtensions_Categoriesimportexport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoriesimportexport_setup>
            <categoriesimportexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoriesimportexport_write>
            <categoriesimportexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoriesimportexport_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <categoriesimportexport>
                    <file>categoriesimportexport.xml</file>
                </categoriesimportexport>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <categoriesimportexport>
                <use>admin</use>
                <args>
                    <module>CommerceExtensions_Categoriesimportexport</module>
                    <frontName>categoriesimportexport</frontName>
                </args>
            </categoriesimportexport>
        </routers>
    </admin>
</config>