<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_GoogleCards>
            <version>1.0.0</version>
        </WeltPixel_GoogleCards>
    </modules>
    <global>
        <blocks>
            <weltpixel_googlecards>
                <class>WeltPixel_GoogleCards_Block</class>
            </weltpixel_googlecards>
        </blocks>
        <helpers>
            <weltpixel_googlecards>
                <class>WeltPixel_GoogleCards_Helper</class>
            </weltpixel_googlecards>
        </helpers>
        <models>
            <weltpixel_googlecards>
                <class>WeltPixel_GoogleCards_Model</class>
            </weltpixel_googlecards>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <weltpixel_googlecards>
                    <file>weltpixel/googlecards.xml</file>
                </weltpixel_googlecards>
            </updates>
        </layout>
    </frontend>
    <default>
        <weltpixel_googlecards>
           <general>
               <enable>1</enable>
               <description>0</description>
               <brand>0</brand>
           </general>
        </weltpixel_googlecards>
    </default>
</config>