<?xml version="1.0"?>
<config>
    <tabs>
        <weltpixel translate="label">
            <label>WeltPixel Extensions</label>
            <sort_order>150</sort_order>
        </weltpixel>
    </tabs>
    <sections>
        <weltpixel_googlecards  translate="label" module="weltpixel_googlecards">
            <label>GoogleCards Setings</label>
            <tab>weltpixel</tab>
            <frontend_type>text</frontend_type>
            <sort_order>205</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="weltpixel_googlecards">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label" module="weltpixel_googlecards">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <description translate="label" module="weltpixel_googlecards">
                            <label>Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>weltpixel_googlecards/adminhtml_system_config_description</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </description>
                        <brand translate="label" module="weltpixel_googlecards">
                            <label>Brand</label>
                            <frontend_type>select</frontend_type>
                            <source_model>weltpixel_googlecards/adminhtml_system_config_brand</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </brand>
                    </fields>
                </general>
            </groups>
        </weltpixel_googlecards>
    </sections>
</config>