<?xml version="1.0"?>
<config>
  <modules>
    <Cis_Printer>
      <version>0.1.0</version>
    </Cis_Printer>
  </modules>
  <frontend>
    <routers>
      <printer>
        <use>standard</use>
          <args>
            <module>Cis_Printer</module>
            <frontName>printer</frontName>
          </args>
      </printer>
    </routers>
	<layout>
	  <updates>
		<printer>
		  <file>printer.xml</file>
		</printer>
	  </updates>
	</layout>
  </frontend>
  <global>
    <helpers>
      <printer>
        <class>Cis_Printer_Helper</class>
      </printer>
    </helpers>
	<blocks>
	  <printer>
		<class>Cis_Printer_Block</class>
	  </printer>
        </blocks>
  </global>
</config> 