<?xml version="1.0"?>
<config>
    <sections>
        <profitreport translate="label" module="ProfitReport">
            <label>Profit Report</label>
			<tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
				<general>
            		<label>Profit Report</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                    	<category_ids>
                            <label>Category ids</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </category_ids>
                    </fields>
				</general>
            </groups>
        </profitreport>
    </sections>
</config>