<?xml version="1.0"?>
<config>
    <modules>
        <HS_Defer>
            <version>1.0.0</version>
        </HS_Defer>
    </modules>
    <global>
        <helpers>
            <defer>
                <class>HS_Defer_Helper</class>
            </defer>
        </helpers>
        <blocks>
            <defer>
                <class>HS_Defer_Block</class>
            </defer>
        </blocks>
        <models>
            <defer>
                <class>HS_Defer_Model</class>
                <resourceModel>defer_mysql4</resourceModel>
            </defer>
        </models>
        <events>
            <http_response_send_before>
                <observers>
                    <hs_defer_http_response_send_before_handler>
                        <type>singleton</type>
                        <class>defer/observer</class>
                        <method>defer</method>
                    </hs_defer_http_response_send_before_handler>
                </observers>
            </http_response_send_before>
        </events>
    </global>
    <admin>
        <routers>
            <defer>
                <use>admin</use>
                <args>
                    <module>HS_Defer</module>
                    <frontName>admin_defer</frontName>
                </args>
            </defer>
        </routers>
    </admin>
</config> 