<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWCart>
			<version>1.1.9</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewcart/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWCart>
	</modules>
	<admin>
        <routers>
			<extendware_ewcart>
				<use>admin</use>
				<args>
					<module>Extendware_EWCart</module>
					<frontName>extendware_ewcart</frontName>
				</args>
			</extendware_ewcart>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWCart>
					<files>
						<default>extendware/Extendware_EWCart.csv</default>
					</files>
				</Extendware_EWCart>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcart>
					<file>extendware/ewcart.xml</file>
				</ewcart>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWCart>
					<files>
						<default>extendware/Extendware_EWCart.csv</default>
					</files>
				</Extendware_EWCart>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcart>
					<file>extendware/ewcart.xml</file>
				</ewcart>
			</updates>
		</layout>
		<routers>
			<ewcart>
				<use>standard</use>
				<args>
					<module>Extendware_EWCart</module>
					<frontName>ewcart</frontName>
				</args>
			</ewcart>
        </routers>
    </frontend>
	<global>
		<models>
			<ewcart>
				<class>Extendware_EWCart_Model</class>
			</ewcart>
		</models>
		<blocks>
			<ewcart>
                <class>Extendware_EWCart_Block</class>
            </ewcart>
		</blocks>
		<helpers>
			<ewcart>
				<class>Extendware_EWCart_Helper</class>
			</ewcart>
		</helpers>
		<resources>
			<ewcart_setup>
				<setup>
					<module>Extendware_EWCart</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewcart_setup>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewcart>
			<general>
				<enabled>1</enabled>
			</general>
			<behavior>
				<width>500</width>
				<max_top>999999</max_top>
				<dialog_display_time>10</dialog_display_time>
				<overlay_enabled>1</overlay_enabled>
				<transitions_enabled>1</transitions_enabled>
			</behavior>
			<cart>
				<add_enabled>1</add_enabled>
				<delete_enabled>1</delete_enabled>
				<advanced_products_enabled>1</advanced_products_enabled>
				<options_enabled>1</options_enabled>
				<delete_confirmation>Are you sure you want to delete this item?</delete_confirmation>
			</cart>
			<wishlist>
				<add_enabled>1</add_enabled>
				<delete_enabled>1</delete_enabled>
				<delete_confirmation>Are you sure you want to delete this item?</delete_confirmation>
			</wishlist>
			<compare>
				<add_enabled>1</add_enabled>
				<delete_enabled>1</delete_enabled>
				<clear_enabled>1</clear_enabled>
				<delete_confirmation>Are you sure you want to delete this item?</delete_confirmation>
				<clear_confirmation>Are you sure you want to clear all times?</clear_confirmation>
			</compare>
		</ewcart>
	</default>
	<extendware>
		<override>
			<block>
				<mage_catalog_product_abstract_ewcart_override>
					<mode>extendware</mode>
					<search><class>Mage_Catalog_Block_Product_Abstract</class></search>
					<replace>
						<class>Extendware_EWCart_Block_Override_Mage_Catalog_Product_Abstract</class>
						<order>100</order>
					</replace>
				</mage_catalog_product_abstract_ewcart_override>
			</block>
	   </override>
	</extendware>
</config>