<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author Stock in the Channel
 */
-->
<config>
    <modules>
        <Sinch_Pricerules>
            <version>1.3.4</version>
        </Sinch_Pricerules>
    </modules>
	<global>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <manufacturer />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <customer_account>
                <sinch_pricerules_group>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </sinch_pricerules_group>
			</customer_account>
		</fieldsets>
        <models>
            <sinch_pricerules>
                <class>Sinch_Pricerules_Model</class>
                <resourceModel>pricerules_resource</resourceModel>
            </sinch_pricerules>
            <pricerules_resource>
                <class>Sinch_Pricerules_Model_Resource</class>
                <entities>
                    <pricerules>
                        <table>sinch_pricerules</table>
                    </pricerules>
                    <group>
                        <table>sinch_pricerules_groups</table>
                    </group>
                    <import>
                        <table>sinch_pricerulesimport</table>
                    </import>
                    <brand>
                        <table>sinch_pricerules_brands</table>
                    </brand>
                </entities>
            </pricerules_resource>
        </models>
        <helpers>
            <sinch_pricerules>
                <class>Sinch_Pricerules_Helper</class>
            </sinch_pricerules>
        </helpers>
        <blocks>
            <sinch_pricerules>
                <class>Sinch_Pricerules_Block</class>
            </sinch_pricerules>
			<catalog>
				<rewrite>
					<product_list>Sinch_Pricerules_Block_Product_List</product_list>
				</rewrite>
			</catalog>
		</blocks>
        <resources>
            <sinch_pricerules_setup>
                <setup>
                    <module>Sinch_Pricerules</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </sinch_pricerules_setup>
        </resources>
		<events>
			<catalog_product_get_final_price>
				<observers>
					<sinch_pricerules_price_observer>
						<type>singleton</type>
						<class>Sinch_Pricerules_Model_Observer</class>
						<method>getFinalPrice</method>
					</sinch_pricerules_price_observer>
				</observers>
			</catalog_product_get_final_price>
			<sinch_pricerules_import>
				<observers>
					<sinch_pricerules_import_observer>
						<type>singleton</type>
						<class>Sinch_Pricerules_Model_Observer</class>
						<method>ImportPriceRules</method>
					</sinch_pricerules_import_observer>
				</observers>
			</sinch_pricerules_import>
            <sinch_pricerules_import_ftp>
                <observers>
                    <sinch_pricerules_import_ftp_observer>
                        <type>singleton</type>
                        <class>Sinch_Pricerules_Model_Observer</class>
                        <method>ImportPriceRulesFtp</method>
                    </sinch_pricerules_import_ftp_observer>
                </observers>
            </sinch_pricerules_import_ftp>
			<catalog_block_product_list_collection>
				<observers>
					<sinch_pricerules_list_observer>
						<type>singleton</type>
						<class>Sinch_Pricerules_Model_Observer</class>
						<method>ListCollectionPrice</method>
					</sinch_pricerules_list_observer>
				</observers>
			</catalog_block_product_list_collection>
		</events>
	</global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sinch_Pricerules before="Mage_Adminhtml">Sinch_Pricerules_Adminhtml</Sinch_Pricerules>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sinch_pricerules>
                    <file>sinch_pricerules.xml</file>
                </sinch_pricerules>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <sinch_pricerules>
                    <file>sinch_pricerules.xml</file>
                </sinch_pricerules>
            </updates>
        </layout>
    </frontend>
    <default>
        <pricerules>
            <view>
                <enabled>1</enabled>
                <items_per_page>20</items_per_page>
                <days_difference>3</days_difference>
            </view>
            <options>
                <apply_on_cost>true</apply_on_cost>
                <price_if_cost_null>true</price_if_cost_null>
            </options>
        </pricerules>
    </default>
</config>
