<?xml version="1.0"?>
<!--
/**
 *
 *
 *
 */
-->
<config>
    <modules>
        <Juno_Jaffiliate>
            <version>2.6.6</version>
        </Juno_Jaffiliate>
    </modules>
    <global>
		<helpers>
    		<jaffiliate>
    			<class>Juno_Jaffiliate_Helper</class>
    		</jaffiliate>
    	</helpers>
    	<models>
    		<jaffiliate>
    			<class>Juno_Jaffiliate_Model</class>
    		</jaffiliate>
    	</models>
        <blocks>
            <jaffiliate>
            	<class>Juno_Jaffiliate_Block</class>
            </jaffiliate>
        </blocks>
		<resources>
			<jaffiliate_setup>
				<setup>
					<module>Juno_Jaffiliate</module>
					<class>Juno_Jaffiliate_Model_Mysql4_Setup</class>
				</setup>
			</jaffiliate_setup>
		</resources>
    </global>
    <frontend>
	    <routers>
    		<jaffiliate>
    			<use>standard</use>
    			<args>
    				<frontName>jaffiliate</frontName>
    				<module>Juno_Jaffiliate</module>
    			</args>
    		</jaffiliate>
    	</routers>
    	<layout>
    		<updates>
    			<jaffiliate>
    				<file>jaffiliate.xml</file>
    			</jaffiliate>
    		</updates>
    	</layout>
	</frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <jaffiliate>
                                            <title>Juno Affiliate Configuration</title>
                                        </jaffiliate>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>