<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_SagePaySurcharges>
            <version>1.0.1</version>
        </Ebizmarts_SagePaySurcharges>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Ebizmarts_SagePaySurcharges>
                    <files>
                        <default>Ebizmarts_SagePaySuite.csv</default>
                    </files>
                </Ebizmarts_SagePaySurcharges>
            </modules>
        </translate>
        <layout>
            <updates>
                <sagepaysurcharges>
                    <file>sagepaysurcharges.xml</file>
                </sagepaysurcharges>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <ignoredModules>
            <entities>
                <sagepaysurcharges />
            </entities>
        </ignoredModules>
        <pdf>
            <totals>
                <surcharge translate="title">
                    <title>Credit Card Surcharge</title>
                    <source_field>surcharge_amount</source_field>
                    <model>sagepaysurcharges/order_pdf_total_surcharge</model>
                    <font_size>10</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </surcharge>
            </totals>
        </pdf>
        <sales>
            <quote>
                <totals>
                    <surcharge>
                        <class>sagepaysurcharges/total_charge</class>
                        <after>subtotal</after>
                        <before>tax</before>
                        <renderer>sagepaysurcharges/checkout_surcharge</renderer>
                    </surcharge>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <surcharge>
                        <class>sagepaysurcharges/order_invoice_total_surcharge</class>
                    </surcharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <surcharge>
                        <class>sagepaysurcharges/order_creditmemo_total_surcharge</class>
                    </surcharge>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_surcharge_amount>
                    <to_order>*</to_order>
                </base_surcharge_amount>
                <surcharge_amount>
                    <to_order>*</to_order>
                </surcharge_amount>
            </sales_convert_quote_address>
            <sales_convert_quote_item>
                <base_surcharge_amount>
                    <to_order_item>*</to_order_item>
                </base_surcharge_amount>
                <surcharge_amount>
                    <to_order_item>*</to_order_item>
                </surcharge_amount>
            </sales_convert_quote_item>
        </fieldsets>
        <models>
            <sagepaysurcharges>
                <class>Ebizmarts_SagePaySurcharges_Model</class>
            </sagepaysurcharges>
        </models>
        <blocks>
            <sagepaysurcharges>
                <class>Ebizmarts_SagePaySurcharges_Block</class>
            </sagepaysurcharges>
        </blocks>
        <helpers>
            <sagepaysurcharges>
                <class>Ebizmarts_SagePaySurcharges_Helper</class>
            </sagepaysurcharges>
        </helpers>
        <resources>
            <sagepaysurcharges_setup>
                <setup>
                    <module>Ebizmarts_SagePaySurcharges</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sagepaysurcharges_setup>
            <sagepaysurcharges_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sagepaysurcharges_write>
            <sagepaysurcharges_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sagepaysurcharges_read>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Ebizmarts_SagePaySurcharges>
                    <files>
                        <default>Ebizmarts_SagePaySurcharges.csv</default>
                    </files>
                </Ebizmarts_SagePaySurcharges>
            </modules>
        </translate>
        <layout>
            <updates>
                <sagepaysurcharges>
                    <file>sagepaysurcharges.xml</file>
                </sagepaysurcharges>
            </updates>
        </layout>
    </frontend>
</config>

