<?xml version="1.0"?>
<config>
    <sections>
        <sagepaysuite module="sagepaysuite">
            <groups>
                <surcharge translate="label">
                    <label><![CDATA[Sage Pay Suite [Surcharges]]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>From January 13th, 2018 it is prohibited for any business to add a surcharge when accepting a payment from a customer online, face to face, over the phone, or by mail order etc.</comment>
                </surcharge>
            </groups>
        </sagepaysuite>
    </sections>
</config>
