<?xml version="1.0"?>
<config>
  <includes>
  	<checkout>
  		<Mage_GoogleCheckout_Block_Link/>
        <Mage_GoogleCheckout_Helper_Data/>           
  	</checkout>
  </includes>
  <modules>
    <Rock_CoreOverride>
      <version>0.1.0</version>
    </Rock_CoreOverride>
  </modules>
  <frontend>
    <routers>
      <coreoverride>
        <use>standard</use>
          <args>
            <module>Rock_CoreOverride</module>
            <frontName>coreoverride</frontName>
          </args>
      </coreoverride>
      <customer>
			<args>
				<modules>
					<Rock_CoreOverride before="Mage_Customer">Rock_CoreOverride</Rock_CoreOverride>
				</modules>
			</args>
		</customer>
    </routers>
  </frontend>
  <global>
		
    <helpers>
      <coreoverride>
        <class>Rock_CoreOverride_Helper</class>
      </coreoverride>
        <checkout>
			<rewrite>
				<data>Rock_CoreOverride_Helper_Checkout_Data</data>
            </rewrite>
        </checkout>
        <tax>
			<rewrite>
				<data>Rock_CoreOverride_Helper_Tax_Data</data>
            </rewrite>
        </tax>
        <googlecheckout>
			<class>Mage_GoogleCheckout_Helper</class>
		</googlecheckout>
    </helpers>
	<blocks>
	  <coreoverride>
		<class>Rock_CoreOverride_Block</class>
	  </coreoverride>
			<googlecheckout>
                <class>Mage_GoogleCheckout_Block</class>
            </googlecheckout>
			<!-- <adminhtml>
				<rewrite>
					<customer_grid>Rock_CoreOverride_Block_Adminhtml_Customer_Grid</customer_grid>
				</rewrite>
			</adminhtml> -->	
			<adminhtml>
				<rewrite>
					<review_rating_detailed>Rock_CoreOverride_Block_Adminhtml_Review_Rating_Detailed</review_rating_detailed>
				</rewrite>
			</adminhtml>
			<adminhtml>
				<rewrite>
					<sales_order_create_items_grid>Rock_CoreOverride_Block_Adminhtml_Sales_Order_Create_Items_Grid</sales_order_create_items_grid>
				</rewrite>
			</adminhtml>
			<bundle>
				<rewrite>
					<catalog_product_view_type_bundle_option>Rock_CoreOverride_Block_Bundle_Catalog_Product_View_Type_Bundle_Option</catalog_product_view_type_bundle_option>
				</rewrite>
			</bundle>
			<catalog>
				<rewrite>
					<breadcrumbs>Rock_CoreOverride_Block_Catalog_Breadcrumbs</breadcrumbs>
				</rewrite>
			</catalog>
	</blocks>
	<models>
	  <coreoverride>
		<class>Rock_CoreOverride_Model</class>
		<resourceModel>coreoverride_mysql4</resourceModel>
	  </coreoverride>
			<adminhtml>
				<rewrite>
					<email_template>Rock_CoreOverride_Model_Adminhtml_Email_Template</email_template>
				</rewrite>
			</adminhtml>
			<bundle>
				<rewrite>
					<product_price>Rock_CoreOverride_Model_Bundle_Product_Price</product_price>
				</rewrite>
			</bundle>
			<cms_resource>
				<rewrite>
					<page_service>Rock_CoreOverride_Model_Cms_Resource_Page_Service</page_service>
				</rewrite>
			</cms_resource>
			<sales>
				<rewrite>
					<order_creditmemo_total_tax>Rock_CoreOverride_Model_Sales_Order_Creditmemo_Total_Tax</order_creditmemo_total_tax>
				</rewrite>
			</sales>
			<sales>
				<rewrite>
					<order_invoice_total_subtotal>Rock_CoreOverride_Model_Sales_Order_Invoice_Total_Subtotal</order_invoice_total_subtotal>
				</rewrite>
			</sales>
			<tax>
				<rewrite>
					<sales_total_quote_shipping>Rock_CoreOverride_Model_Tax_Sales_Total_Quote_Shipping</sales_total_quote_shipping>
				</rewrite>
			</tax>
			<tax>
				<rewrite>
					<sales_total_quote_tax>Rock_CoreOverride_Model_Tax_Sales_Total_Quote_Tax</sales_total_quote_tax>
				</rewrite>
			</tax>
			<tax>
				<rewrite>
					<sales_total_quote_subtotal>Rock_CoreOverride_Model_Tax_Sales_Total_Quote_Subtotal</sales_total_quote_subtotal>
				</rewrite>
			</tax>
			<weee>
				<rewrite>
					<total_creditmemo_weee>Rock_CoreOverride_Model_Weee_Total_Creditmemo_Weee</total_creditmemo_weee>
				</rewrite>
			</weee>
			<!-- <catalogrule>
				<rewrite>
					<rule>Rock_CoreOverride_Model_Rule</rule>
				</rewrite>
			</catalogrule> -->
	</models>
  </global>
  <admin>
	<routers>
	  <coreoverride>
	    <use>admin</use>
		<args>
		  <module>Rock_CoreOverride</module>
		  <frontName>admin_coreoverride</frontName>
		</args>
	  </coreoverride>
	  <adminhtml>
        <args>
            <modules>
                <Rock_CoreOverride before="Mage_Adminhtml">Rock_CoreOverride_Adminhtml</Rock_CoreOverride>
            </modules>
        </args>
      </adminhtml>
	</routers>
  </admin>
</config> 